{% extends 'layouts/default/page.html' %}

{% load bootstrap4 %}
{% load i18n %}

{% block content %}

    <h4>{% trans 'Log in' %}</h4>

    <form method="post">

        {% csrf_token %}
        {% bootstrap_form form %}

        <button class="btn btn-primary">{% trans 'Log in' %}</button>

    </form>

    <hr>

    <ul>
        <li>
            <a href="{% url 'accounts:restore_password' %}">{% trans 'Forgot your password?' %}</a>
        </li>
        <li>
            <a href="{% url 'accounts:remind_username' %}">{% trans 'Forgot your username?' %}</a>
        </li>
        <li>
            <a href="{% url 'accounts:resend_activation_code' %}">{% trans 'Resend an activation code' %}</a>
        </li>
    </ul>

    <p><strong>-- OR --</strong></p>
    <a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a><br>
    <p><strong>-- OR --</strong></p>
    <a href="{% url 'social:begin' 'github' %}">Login with GitHub</a><br>
    <p><strong>-- OR --</strong></p>
    <a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a><br>
    <p><strong>-- OR --</strong></p>
    <a href="{% url 'social:begin' 'twitter' %}">Login with Twitter</a><br>

{% endblock %}
